@if (control) {
<div [class]="containerClass">
  <app-cmn-label [isAstRequired]="isAstRequired" [label]="label" />
  <input type="date" [class]="inputClass" [placeholder]="placeholder" [value]="rawValue" (change)="onDateChange($event)"
    [required]="isAstRequired" [disabled]="control.disabled" [attr.min]="minDate" [attr.max]="maxDate" [ngClass]="{
      'bg-gray-200 cursor-not-allowed': control.disabled,
      'bg-white text-black': !control.disabled
    }" />

  <!-- <cds-validation-errors [control]="control" [customErrorMessages]="customErrorMessages" [errors]="control.errors"
    [isSubmitted]="isSubmitted" class="text-red-400" /> -->
</div>
}